
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

// Categories

.div1 {
  height:50px;
  width: 1125px;
  background:lightgray;
  transition: 1s;
  margin-bottom: 50px;
  
}

.text1 {
  opacity: 1;
  font-size: 20px;
  transition:3s;
  

}

.div1:hover{
  background:#007bff;
}

.div1:hover .text1{
  opacity: 1;
}

.div1:hover{
  background:#007bff;
  height: 75px;
  
  
}

.nounderline:hover{
  text-decoration: none !important;
}

.footermargin {
  margin-bottom: 100px;
}
//Categories end
